{{ define "main" }}
<section class="h-56 bg-red-400 flex justify-center items-center">
    <div class="md:max-w-3xl basis-full">
      <h2 class="text-4xl font-semibold text-center">{{ .Title }}</h2>
    </div>
</section>
<section>
  <div class="px-4 py-8 mx-auto md:max-w-5xl">
    {{ .Content }}
  </div>
</section>
{{ end }}