<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header class="px-4 py-2 flex flex-col md:flex-row md:justify-between md:items-center bg-red-200">
    {{ partial "header.html" . }}
  </header>
  <main>
      {{ block "main" . }}{{ end }}
  </main>
  <footer class="flex justify-center pt-6 text-sm text-slate-700">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
