{{ define "main" }}
<section class="h-80 bg-red-200 flex justify-center items-center">
  <div class="px-4 md:max-w-3xl basis-full">
      {{ .Content }}
  </div>
</section>
  <section class="px-4 py-8 mx-auto md:max-w-5xl">
    {{ range site.RegularPages }}
      <div class="mb-3">
        <h2 class="text-xl font-semibold"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      </div>
    {{ end }}
  </section>
{{ end }}
