{{ define "main" }}
  <section class="h-72 bg-red-300 flex justify-center items-center">
    <div class="md:max-w-3xl basis-full">
      <h2 class="text-4xl font-semibold text-slate-800 text-center">{{ .Title }}</h2>
      <div class="my-4 px-4 w-full">
        {{ .Content }}
      </div>
    </div>
  </section>
  <section class="px-4 py-8 mx-auto md:max-w-5xl">
    {{ range .Pages }}
      <div class="mb-3">
        <h3 class="text-xl font-semibold"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        {{ .Summary }}
      </div>
    {{ end }}
  </section>
{{ end }}
