{{ define "main" }}
<section class="px-4 py-8 mx-auto md:max-w-5xl">
  <h2 class="text-2xl font-semibold">{{ .Title }}</h2>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <div class="text-sm text-slate-500">
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>
  <div class="my-4">
    {{ .Content }}
  </div>
</section>
<section class="px-4 py-8 mx-auto md:max-w-5xl">
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</section>
{{ end }}
